@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-slate-200;
  font-family: 'Inter', sans-serif;
}
.skill-badge {
  @apply bg-slate-800 text-slate-300 px-3 py-1 rounded-lg text-sm;
}
